In [1]:
import sys
import pandas as pd
sys.path.append('../')
import pandas as pd
from scripts.db_utils import connect, sql_to_dataframe
from src.data_quality_checks import check_missing_data, check_duplicates, check_data_types, check_numeric_anomalies

In [2]:
#opening the connection
conn = connect()

query = """ SELECT * FROM public.xdr_data  """

#loading our dataframe
df = sql_to_dataframe(conn, query)

#closing the connection
conn.close()

# Let’s see if we loaded the df successfully
df.head()

Connecting..
All good, Connection successful!

,Bearer Id,Start,Start ms,End,End ms,Dur. (ms),IMSI,MSISDN/Number,IMEI,Last Location Name,...,Youtube DL (Bytes),Youtube UL (Bytes),Netflix DL (Bytes),Netflix UL (Bytes),Gaming DL (Bytes),Gaming UL (Bytes),Other DL (Bytes),Other UL (Bytes),Total UL (Bytes),Total DL (Bytes)
0,1.311448e+19,4/4/2019 12:01,770.0,4/25/2019 14:35,662.0,1823652.0,2.082014e+14,3.366496e+10,3.552121e+13,9.16456699548519E+015,...,15854611.0,2501332.0,8198936.0,9656251.0,278082303.0,14344150.0,171744450.0,8814393.0,36749741.0,308879636.0
1,1.311448e+19,4/9/2019 13:04,235.0,4/25/2019 8:15,606.0,1365104.0,2.082019e+14,3.368185e+10,3.579401e+13,L77566A,...,20247395.0,19111729.0,18338413.0,17227132.0,608750074.0,1170709.0,526904238.0,15055145.0,53800391.0,653384965.0
2,1.311448e+19,4/9/2019 17:42,1.0,4/25/2019 11:58,652.0,1361762.0,2.082003e+14,3.376063e+10,3.528151e+13,D42335A,...,19725661.0,14699576.0,17587794.0,6163408.0,229584621.0,395630.0,410692588.0,4215763.0,27883638.0,279807335.0
3,1.311448e+19,4/10/2019 0:31,486.0,4/25/2019 7:36,171.0,1321509.0,2.082014e+14,3.375034e+10,3.535661e+13,T21824A,...,21388122.0,15146643.0,13994646.0,1097942.0,799538153.0,10849722.0,749039933.0,12797283.0,43324218.0,846028530.0
4,1.311448e+19,4/12/2019 20:10,565.0,4/25/2019 10:40,954.0,1089009.0,2.082014e+14,3.369980e+10,3.540701e+13,D88865A,...,15259380.0,18962873.0,17124581.0,415218.0,527707248.0,3529801.0,550709500.0,13910322.0,38542814.0,569138589.0

In [3]:
# checking for missing value in each columns
missing_data_summary = check_missing_data(df)
print(missing_data_summary)

                                 Column Name  Missing Values
0                                  Bearer Id             991
1                                      Start               1
2                                   Start ms               1
3                                        End               1
4                                     End ms               1
5                                  Dur. (ms)               1
6                                       IMSI             570
7                              MSISDN/Number            1066
8                                       IMEI             572
9                         Last Location Name            1153
10                           Avg RTT DL (ms)           27829
11                           Avg RTT UL (ms)           27812
12                   Avg Bearer TP DL (kbps)               1
13                   Avg Bearer TP UL (kbps)               1
14               TCP DL Retrans. Vol (Bytes)           88146
15               TCP UL Retrans. Vol (Bytes)           96649
16                       DL TP < 50 Kbps (%)             754
17            50 Kbps < DL TP < 250 Kbps (%)             754
18             250 Kbps < DL TP < 1 Mbps (%)             754
19                        DL TP > 1 Mbps (%)             754
20                       UL TP < 10 Kbps (%)             792
21             10 Kbps < UL TP < 50 Kbps (%)             792
22            50 Kbps < UL TP < 300 Kbps (%)             792
23                      UL TP > 300 Kbps (%)             792
24                           HTTP DL (Bytes)           81474
25                           HTTP UL (Bytes)           81810
26                 Activity Duration DL (ms)               1
27                 Activity Duration UL (ms)               1
28                               Dur. (ms).1               1
29                      Handset Manufacturer             572
30                              Handset Type             572
31           Nb of sec with 125000B < Vol DL           97538
32     Nb of sec with 1250B < Vol UL < 6250B           92894
33  Nb of sec with 31250B < Vol DL < 125000B           93586
34            Nb of sec with 37500B < Vol UL          130254
35    Nb of sec with 6250B < Vol DL < 31250B           88317
36    Nb of sec with 6250B < Vol UL < 37500B          111843
37             Nb of sec with Vol DL < 6250B             755
38             Nb of sec with Vol UL < 1250B             793
53                          Total UL (Bytes)               1
54                          Total DL (Bytes)               1

In [4]:
# checking for duplicated rows in the datasets
duplicate_rows = check_duplicates(df)
print(duplicate_rows)

Success: No duplicated values.

In [5]:
# checking for data type issues per each columns
dtypes_summary = check_data_types(df)
print(dtypes_summary)

Success: Data types per column are uniform.

In [6]:
numeric_anomalies = check_numeric_anomalies(df, 'Start ms', lower_bound=0, upper_bound=None)
print(numeric_anomalies)

Success: No anomalies detected.